header {
  background-color: #a20d44;
  padding: 10px 80px 10px 80px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.logo {
  font-size: 40px;
  font-weight: 800;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navBar {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  gap: 25px;
}

.navBar div:hover {
  color: #efcc09;
  cursor: pointer;
}

.cardGroup {
  text-align: center;
}

.container {
  text-align: center;
  background-color: #bbd6dde1;
  margin-top: 0;
  padding: 15px;
  color: #fff;
}
.container a {
  text-decoration: none;
  color: #d50606;
  background-color: #efcc09;
  padding: 8px;
}
h4 {
  text-align: center;
}

.card {
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.card img {
  width: 150px;
  border-radius: 10px;
}
.prix {
  color: #97053a;
}
.card {
  display: inline-block;
  width: 150px;
  border: 0px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.card img {
  width: 150px;
  border-radius: 10px;
}
.prix {
  color: #97053a;
}
.card {
  width: 150px;
  border: 1px solid #eae8e8;
  border-radius: 8px;
  background-color: #fbf4f4;
  box-shadow: 0 4px 6px rgba(10, 10, 0, 0.1);
  text-align: center;
  padding: 10px;
  margin: 20px;
}
.card img {
  width: 150px;
  border-radius: 10px;
  justify-content: center;
}
.prix {
  color: #97053a;
}
.info {
  text-align: center;
  margin: 50px;
}
.info a {
  text-decoration: none;
}
.after {
  background-color: rgb(26, 31, 31);
  padding: 1px;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
